@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap");
@import "~antd/dist/antd.css";


:root {
  --text-color: rgb(255, 255, 255);
  --twitter: #3d89e0;
  --linkedin: #0077b5;
  --github: #333333;
  --website: #1890ff;
  --gmail: #db4437;
  --white: #ffffff;
}

header {
  background-color: rgb(123, 120, 23);
}
body {
  margin: 0;
  background-color: rgb(255, 255, 255);
  font-family: "Poppins", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Layout CSS */

.header_space .ant-btn-link{
  color: whitesmoke;
}

.header_space .ant-btn-link :hover{
 color: #ffde74;
}

.ant-layout {
  background: var(--white);
}

.ant-layout-header,
.ant-layout-footer {
  border-radius: 15px;
  padding-left: 0%;
  padding-right: 0px;
  text-align: center;
  background: var(--text-color);
  color: var(--white);
  height: 13vh;
  align-items: center;
}

/************************************************************ Header CSS ***************************************/

.fa-bar{
  color: rgb(255, 255, 255);
  display: none;

}

.header_user{
  display: flex;
  flex-direction: row;
  color: rgb(255, 233, 233);

}


  

.header_space {
  width: 99%;
  justify-content:space-between;
  align-items: center;
  padding: 0px;
  height: 15vh;
  background: linear-gradient(to right, #184877, #0505a0);
  /* background: linear-gradient(90deg, rgba(36,0,16,1) 0%, rgba(6,41,46,1) 0%, rgba(87,51,138,1) 0%, rgba(85,70,255,1) 19%, rgba(0,78,149,1) 86%); */
  border-radius: 20px;
  margin-right: 1vh;
  margin-left: 1vh;
  margin-top: 1vh;
}

.title{
  color: rgb(255, 255, 255);
  padding-top: 13px;
  font-size: xx-large;
  font-weight: 700;
  font-family: serif;
}

.home_button{
  padding-top: 13px;
  display: flex;
  flex-direction: row;
}

.directions, .auth_buttons{
  padding-top: 13px;
  display: flex;
  flex-direction: row;
  color: #2d00f7;
}

.header_space_image{
  border-radius: 50%;
  width: 90px;
  height: 90px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-top: 2px;
}

.header_user .auth_button_logout{
  margin: 0rem;
  margin-right: 1rem;
}

.signUpBotton{
  margin-right: 6px;
}

.header_space_brand {
  padding-top: 13px;
  color: var(rgb(0, 0, 0));
}
.header_space_brand:hover {
  color: var(rgb(0, 0, 0));
}

.auth_button_logout{
  margin-right: 20px;
}

/*********************************************************media header**********************************************************/


@media screen and (max-width: 1165px){
  .title{
    font-size: x-large;
    font-family: serif;
  }
}

@media screen and (max-width: 965px)

 {
.header_space {
  width: 100%;
  justify-content:space-between;
  align-items: center;
  padding: 0px;
  height: 15vh;
  background: linear-gradient(to left, hsl(226, 91%, 26%), #000080);
  /* background: linear-gradient(90deg, rgba(36,0,16,1) 0%, rgba(6,41,46,1) 0%, rgba(87,51,138,1) 0%, rgba(85,70,255,1) 19%, rgba(0,78,149,1) 86%); */
  border-radius: 0px;
  margin-right: 0vh;
  margin-left: 0vh;
  margin-top: 0vh;
}
.title{
  display: flex;
  flex-direction: row;
  padding-top: 0;
  font-size: x-large;
  color: white;
  font-family: serif;

 }

 }


@media screen and (max-width: 865px)

 {

  
  .auth_button_signUp{
    margin-right: 4px;
  }
  .fa-bar{
    color: rgb(247, 254, 252);
    margin-right: 20px;
    display: inline;
    z-index: 99;
    cursor:pointer;
  }

  .title{
   display: flex;
   flex-direction: row;
   padding-top: 0;
   font-size: x-large;
   color: rgb(247, 254, 252);
   font-family: serif;
  }
    .directions{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: rgba(102, 131, 236, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border-radius: 13px;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0%;
    right: 110%;
    align-items: stretch;
    padding: 100px 0px 30px 0px; 
    backdrop-filter: blur(10px);
    z-index:1;
    transition: all .3s ease-in-out;
  }

  .directions.active{
    right:0%;
    top:0%;
  }

  .auth_button_logout{
    background-color: rgba(102, 131, 236, 0.25);
    margin: 5px 20px 0 0px;
    align-items: center;
    color: #ffffff;
  }

  .header_space_brand .auth_button_logout{
    display: block;
    widows: 100%;
    padding: 2rem 0;
    margin: 0 200px 0 200px;
  }

  .header_space_brand:hover{
    
    color: #ffffff;
    background-color: #1890ff;
    backdrop-filter: blur(20px);
  }

  .home_button{
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 800PX){
  .title{
    display: flex;
    flex-direction: row;
    font-size: x-large;
    font-family: serif;
    color: white;
    padding-bottom: 25px;
   }

   .header_space{
    height: 100px;
  }

  .header_space_image{
    width: 70px;
    height: 70px;
    margin-top: 5px;
    margin-left:-3px
  }
  .fas{
margin-bottom: 40px;
  }
}

@media only screen and (max-width:500px) and (min-width:360px) {

  .header_space{
    height: 100px;
    padding-bottom: 0px;
  }

  
  .title{
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    font-family: serif;
    font-size: large;
  }
  .ant-btn{
    padding: 0px 0px;
  }

  .header_space{
    width: 100%;
    margin-top: -10px;
    margin-left: 0px;
    border-radius: 0px;
  }
  .directions{
    border-radius: 10%;
    align-items: center;
  }

  .header_space_image{
    width: 70px;
    height: 70px;
    margin-left: 5px;
    margin-top: 15px;
  }

  .auth_button_signUp{
    display: flex;
    flex-direction: column;
    font-size: 12px;
    margin-left: -20px;
  }

  .auth_button_login{
    font-size: 12px;
    margin-left: -20px;
  }

    /***************************************************************home page*********************88*/

.ant-layout-header{
    height: 6vh;
  }

.homepage_layout{
 
  margin-top: -100vh;
  width: 100%;
  margin-left: 0%;
  background-image: url(./pages/Assets/img1.jpg);
  background-position: center;
  background-size:cover;
  height: 100vh;
}

}





/************************************************Home page*****************************************************/

.homepage_layout{
  margin-top: 3vh;
  width: 99%;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/d/d0/Survey_tasking_being_undertaken_by_Southern_Naval_Command_ships_on_World_Hydrographic_Day_2014.jpg);
  background-position: center;
  background-size:cover;
  background-blend-mode: darken;
  height: 100vh;
  backface-visibility: 0.1;
  border-radius: 20px;
  margin-right: -3vh;
  margin-left: 1vh; 
}



.homepage_signup{
  height: 50px;
  width: 100px;
  margin:1rem;
  color:rgb(163, 71, 255);
  font:bold;
  background-color: white;
  /* border: 2px solid #8e00b9; */
  padding-top: 10rem;
  padding: 0.1rem;
  border-radius: 6px;
  transition-duration: 0.5s;
  animation: ease-in-out;
}

.main-content h2{
  color: white;
}

.para{
  font-size:50px;
  font-weight: 900;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(0, 0, 0);
  text-align: center;
  padding-top: 330px;
  filter: blur(-5px);
  z-index: 99;
}

.foreword{
  font-size:1.3rem;
  font-family: sans-serif;
  text-align: center;
  color: #000000;
  margin-right: 0px;
  margin-bottom: -80px;
  width: 99%;
  align-items: center;
}

.foreword_wrapper{
  
  margin-top: 3px;
  margin-bottom: -3px;
  margin-left: 1vh;
  margin-right: 10px;
  padding-bottom: 90px;
  border-radius: 10px;
  width: 99%;  
  background-color: rgb(198, 198, 198);
}

.foreword_para{
  margin-top: 30px;
  padding-top: 10px;
  font-size: larger;
  
}

.topic{
  margin-top: -250px;
}
.topic h2{
  color: rgb(20, 20, 44);
}

.foreword_wrapper img{
  height: 37vh;
  width: 30vh;
  float:right;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 0px;
}

.sign{
  float: right;
  margin-top: 0vh;
  margin-right: 1vh;
  color: #0307ff;
}

.login_homepage h1 {
  position: relative;
  font-size: 45px;
  text-align: center;
  background: rgb(2, 66, 157);
  font-style: italic;
  margin-top: 47vh;
  width: 45%;
  border-radius: 0% 0% 50% 50%;
  margin-left: 50vh;
  color: #cad1d6;
  overflow: hidden;
}

/* .login_homepage h1{
  font-size: 45px;
  text-align: center;
  background: rgb(2, 66, 157);
  font-style: italic;
  margin-top: 47vh;
  width: 45%;
  border-radius: 15%;
  margin-left: 50vh;
  color: #cad1d6;
} */

.homepage_downout{
  background-image: url(https://hydrobharat.gov.in/wp-content/uploads/2022/07/NHO-Image-for-Memonto.jpg);
  background-position: center;
  background-size:cover;
  background-blend-mode: darken;
  height: 100vh;
  text-align: center;
  width: 99%;
  margin-left: 1vh;
  margin-top: 1vh;
}

.homepage_downout {
  padding-top: 50vh;
  font-size: 30px;
}

.homepage_downout h1{
  font-weight: 600;
  color: #000000;
  background: rgb(255, 255, 255);
  width: 40vh;
  margin-left: 82vh;
  margin-bottom: 5vh;
  margin-top: 0vh;
  border-radius: 20px;
  opacity: 0.5;
}
.homepage_downout .homepage_signup{
  color: #ffffff;
  width: 15vh;
  margin-bottom: 15vh;
  margin-top: 16vh;
  margin-left: 40px;
  background: black;
  cursor: pointer;
  font-size: large;
  padding: -15vh;
  height: 5vh;
}

.homepage_downout .homepage_signup:hover{
  background-image:linear-gradient(to left,#0d235b,#024954);
}





/**************************************************************** Social Card CSS */
.searchitem{
  margin-right: 30px;
  margin-left: 0px;
  font-weight: bold;
}
.searchh{
  text-align: center;
  margin-top: 5vh;
  padding: 0px;
  font-size: 20px;
  border-radius: 20px;
 flex-direction: row;
 display: flex;
  margin-bottom: 15vh;
}
.searchbar{
 background-color: #e0dede;
 color:rgb(0, 0, 0);
 border-radius: 5px;
 padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  width: 600px;
}
.social_card {
  box-shadow: 0 13px 27px -5px rgb(50 50 93 / 25%),
    0 8px 16px -8px rgb(0 0 0 / 30%), 0 -6px 16px -6px rgb(0 0 0 / 3%);
  border-radius: 4px;
  background-color: bisque;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  margin-top: 15vh;
}

.search-bar:focus {
  outline: none;
  border-color: #888;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.profile_card{
  margin-top: 35px;
  margin-right: 20px;
  margin-left: 20px;
}


.social_card_space {
  width: 100%;
}
.social_image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.social_button {
  padding: 0px;
}
.social_button.twitter {
  color: var(--twitter);
}
.social_button.linkedin {
  color: var(--linkedin);
}
.social_button.github {
  color: var(--github);
}
.social_button.website {
  color: var(--website);
}
.social_button.gmail {
  color: var(--gmail);
}

.logos{
  border: none;
  outline: 0;
    
}

.ant-image-mask-info {
  display: none;
}

.ant-image-mask{
 position: relative;
}
.ant-image{
  position: absolute;
}
.card {
  background: white;
  box-shadow: 0px 1px 10px black;
  justify-content: center;
  background: rgb(144, 213, 211);
  flex-direction: column;
  display: flex;
  width: 40vh;
  height: auto;
  border-radius: 20px;
  margin: -13vh 30px 150px 30px;
  justify-content: center;
  box-shadow: 0px 1px 10px black;
}

.container{
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 0vh;
  margin-left: 40px;
  position: relative;
  height: auto;
  
}
.big_container{
  margin-top: 3vh;
  background-color: #ffffff;
  width: 99%;
  margin-left: 1vh;
  border-radius: 10px;
  padding-top: 10px;
  display: flex;
  margin-bottom: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}




.upper-container{
  height: 100px;
  background: linear-gradient(to left, #214971, #000080);
  border-radius: 20px 20px 0px 0px;
  padding-top: 10px;
  width: 40vh
}

.carding {
  align-items: center;
  border:2px solid #70b3a7;
  width: 100px;
  margin-left: 1px;
  height: 100px;
  border-radius: 50%;
  padding: 1px;
  transform: translate(95px,45px);
  background-color: rgb(125, 177, 222);
  margin-top: -40px;
  
}

.lower-container{
  width: 40vh;
  height: 300px;
  text-align:center;
  align-items: center;
  font-family:'Times New Roman', Times, serif;
  border-radius: 0px 0px 20px 20px;
  background-color: rgb(226, 235, 255);
 
}



.lower-container h5{
  color: #0b0a0e;
  font-weight: 300;
  font-size:1.2rem;
}

h3{
  margin-top: 20px;
  color: #c303c3;
  font-weight: 700;
  font-size:1.2rem;
}

h1{
  margin-bottom:1px;
  margin-top:1px;
}
h2{
  margin-top:1px;
  margin-bottom:1px;
}

.lower-container p{
  margin: 1rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: black;
  font-size: 0.9rem;
  text-align: justify;
}

button{
  margin:1rem;
  color:rgb(20, 19, 21);
  font:bold;
  background-color: white;
  border: 2px solid #8e00b9;
  padding: 0.6rem;
  border-radius: 6px;
  transition-duration: 0.5s;
  animation: ease-in-out;
}

button:hover{
  background-image:linear-gradient(to left,#fefc8e,#ff0291);
}

.contact{
  display: flex;
  flex-direction: column;
}

.ant-layout-header{
  height: 13.3vh;
}


/* Profile Page CSS */
.profile_page_card {
  box-shadow: 0 13px 27px -5px rgb(50 50 93 / 25%),
    0 8px 16px -8px rgba(0, 0, 0, 0.9), 0 -6px 16px -6px rgb(0 0 0 / 3%);
  border-radius: 4px;
  margin-top: -17vh;
}

.profile_save_btn {
  display: block;
  margin-left: auto;
}

.login_submit_btn {
  display: block;
  width: 100%;
}

.alert_error {
  margin-bottom: 8px;
}

.form_help_text {
  text-align: center;
}


/* signin Page CSS */

.ant-card{
  margin-top: 20vh;

}


.d1{
  width: 100%;
  height: 339px;
}
.d1 h1{
  text-align: center;
  padding-top: 100px;
}


/*******************FOOTER********************/
footer{
  
  position: absolute;
  bottom: 0px;
  width: 100%;
  background: linear-gradient(to right, #224f7b, #000080);
}

.foooter{
  margin-top: 40vh;
  margin-bottom: 0;
}

.copyright{
  text-align: center;
  font-size: large;
  margin-top: 10px;
  color: #3498db;
  
}

.content{
  color: white;
}
.content h2{
  color: #ffffff;
}
.main-content{
  margin-top: 0vh;
  display: flex;
}
.main-content .box{
  flex-basis: 50%;
  padding: 10px 20px;
}
.box h2{
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
}
.box .content{
  margin: 20px 0 0 0;
  position: relative;
}
.box .content:before{
  position: absolute;
  content: '';
  top: -10px;
  height: 2px;
  width: 100%;
  background: #ffffff;
}
.box .content:after{
  position: absolute;
  content: '';
  height: 2px;
  width: 15%;
  background: #fc2222;
  top: -10px;
}
.left .content p{
  text-align: justify;
}
.left .content .social{
  margin: 20px 0 0 0;
}
.left .content .social a{
  padding: 0 2px;
}
.left .content .social a span{
  height: 40px;
  width: 40px;
  background: orange;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
}
.left .content .social a span:hover{
  
  background: #865656;
}

.left .content a{
 color: whitesmoke;
}
.center .content span{
  font-size: 1.4375rem;
  background: #000000;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}
.box .content .span:hover{
  background: orange;
}
.center .content .text{
  font-size: 1.0625rem;
  font-weight: 500;
  padding-left: 10px;
}
.center .content .phone{
  margin: 15px 0;
}
.right form .text{
  font-size: 1.0625rem;
  margin-bottom: 2px;
  color: #656565;
}
.right form .msg{
  margin-top: 10px;
}
.right form input, .right form textarea{
  width: 100%;
  font-size: 1.0625rem;
  background: #151515;
  padding-left: 10px;
  border: 1px solid #222222;
}
.right form input:focus,
.right form textarea:focus{
  outline-color: #3498db;
}
.right form input{
  height: 35px;
}
.right form .btn{
  margin-top: 10px;
}
.right form .btn button{
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  background: orange;
  font-size: 1.0625rem;
  font-weight: 500;
  cursor: pointer;
  transition: .3s;
}
.right form .btn button:hover{
  background: rgb(223, 194, 194);
}
.bottom center{
  padding: 5px;
  font-size: 0.9375rem;
  background: #fffbfb;
}
.bottom center span{
  color: #656565;
}
.bottom center a{
  color: #f12020;
  text-decoration: none;
}
.bottom center a:hover{
  text-decoration: underline;
}


@media only screen and  (max-width:1430px) {
  .container{
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and  (max-width:1130px) {
  .container{
    grid-template-columns: repeat(2, 1fr);
  }
  .searchbar{
    width:300px
  }

  .searchitem{
    display: none;
  }

  
}

@media only screen and  (max-width:376px) {

  .searchbar{
    width:200px
  }

  .searchitem{
    display: none;
  }


}


/**************************************************************** 376 media**************************/
@media only screen and  (max-width:450px) {

  .searchitem{
    display: none;
  }

  .searchbar{
    width:200px
  }

 /**********************************homepage*************/

.copyright
 {
      margin-bottom: -10vh;
      padding-bottom: 5vh;
 }
  .border{
    margin-top: 11vh;
  }

  .homepage_layout{
    border-radius: 0px;
    margin-left: 0px;
    width: 100%;
    margin-right: 0px;
  }

  .login_homepage h1{
    font-size: small;
    margin-top: 47vh;
    margin-left: 12vh;
  }
  .topic{
    font-size: medium;
  }

  .foreword{
    border-radius: 0px;
    margin-top: -10px;
    color: #000000;
    margin-bottom:-13vh;
    margin-right: -10vh;
    padding-bottom: 90px;
    background-color: rgb(255, 206, 206);
  }

  .foreword_wrapper{
    background-color: rgb(255, 206, 206);
    margin-right: -10px;
    margin-left: 0px;
    width: 100%;
    margin-right: 0px;
  }

  .sign{
    color: #000000;
    margin-top: 10px;
    margin-right: 19vh;
  }
  .homepage_downout{
  margin-left: 0px;
    width: 100%;
    margin-right: 0px;}
  .homepage_downout h1{
    font-size: 25px;
    width: 23vh;
    margin-left: 12vh;
    color: white;
    background-color: #1da7f2;
  }

  .homepage_downout .homepage_signup{
    width: 90px;
  }

 


  /******************************social media*****************/
  .container{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 0vh;
    margin-left: 0px;
    position: relative;
    height: auto;
  }

.big_container{
  margin-bottom: 0vh;
  margin-top: 11vh;
  background: white;
  width: 100%;
  margin-left: 0vh;
  border-radius: 0px;
  padding-top: 10px;
}

.address{
  margin-bottom:110px;
}


.card{
  box-shadow: 0px 1px 10px rgb(255, 79, 79);
  justify-content: center;
  background: rgb(163, 255, 249);
  flex-direction: column;
  display: flex;
  height: auto;
  border-radius: 20px;
  margin: -20px 0px 70px 30px;
  justify-content: center;
  box-shadow: 0px 1px 10px black;
}

.carding{
  margin-left: -4px;
}

.searchh{
  text-align: center;
  margin-top:5px;
  padding: 0px;
  margin-bottom: 5vh;
  font-size: 20px;
}

.ant-layout-header{
  height: 0vh;
}

/***********************directory**************/



}


@media screen and (max-width: 900px) {

  
  footer{
    position: relative;
    bottom: 0px;
  }
  .main-content{
    flex-wrap: wrap;
    flex-direction: column;
  }
  .main-content .box{
    margin: 5px 0;
  }
}

@media (max-width: 768px){
  .foooter{
    margin-top: 0vh;
  }
  
}
@media only screen and  (max-width:376px) {

  .profile_page_card{
    margin-left: 0vh;
    margin-top: -10vh;
  }


}

@media only screen and  (max-width:550px) {

  /****************Social media card****************************/
  .container{
    display:grid;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 0vh;
    margin-left: 0px;
    position: relative;
    height: auto;
  }
 
  

.big_container{
  margin-bottom: 0vh;
  margin-top: 11vh;
  background: white;
  width: 100%;
  margin-left: 0vh;
  border-radius: 0px;
  padding-top: 10px;
}

.address{
  margin-bottom:110px;
}


.card{
  box-shadow: 0px 1px 10px rgb(255, 79, 79);
  justify-content: center;
  background: rgb(163, 255, 249);
  flex-direction: column;
  display: flex;
  height: auto;
  border-radius: 20px;
  margin: -20px 0px 70px 30px;
  justify-content: center;
  box-shadow: 0px 1px 10px black;
}

.carding{
 
  margin-left: 24px;
}

.searchh{
  text-align: center;
  margin-top:5px;
  padding: 0px;
  margin-bottom: 5vh;
  font-size: 20px;
}

.ant-layout-header{
  height: 0vh;
}

}

@media only screen and   (max-width:770px) and (min-width:500px)  {

  .copyright
 {
      margin-bottom: -10vh;
      padding-bottom: 5vh;
 }
  .border{
    margin-top: 11vh;
  }

  .homepage_layout{
    border-radius: 0px;
    margin-left: 0px;
    width: 100%;
    margin-right: 0px;
  }

  .login_homepage h1{
    font-size: small;
    margin-top: 59vh;
    margin-left: 23vh;
  }
  .topic{
    font-size: medium;
  }

  .foreword{
    border-radius: 0px;
    margin-top: -10px;
    color: #000000;
    margin-bottom:-13vh;
    margin-right: -10vh;
    padding-bottom: 90px;
    background-color: rgb(255, 206, 206);
  }

  .foreword_wrapper{
    background-color: rgb(255, 206, 206);
    margin-right: -10px;
    margin-left: 0px;
    width: 100%;
    margin-right: 0px;
  }

  .sign{
    color: #000000;
    margin-top: 30px;
    margin-right: 0vh;
  }
  .homepage_downout{
  margin-left: 0px;
    width: 100%;
    margin-right: 0px;}
  .homepage_downout h1{
    font-size: 25px;
    width: 23vh;
    margin-left: 26vh;
    color: white;
    background-color: #1da7f2;
  }

  .homepage_downout .homepage_signup{
    width: 90px;
  }

  /****************Social media card****************************/
  .container{
    display:grid;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 0vh;
    margin-left: -60px;
    position: center;
    height: auto;
  
  }

  

.big_container{
  margin-bottom: 0vh;
  margin-top: 11vh;
  background: white;
  width: 100%;
  margin-left: 0vh;
  border-radius: 0px;
  padding-top: 10px;
  
}

.address{
  margin-bottom:110px;
}


.card{
  box-shadow: 0px 1px 10px rgb(255, 79, 79);
  justify-content: center;
  background: rgb(163, 255, 249);
  flex-direction: column;
  display: flex;
  padding: 0px;
  height: auto;
  border-radius: 20px;
  margin:-20px 0px 70px 180px;
  justify-content: center;
  box-shadow: 0px 1px 10px black;
 
}

.carding{
 
  margin-left: 24px;
}

.searchh{
  text-align: center;
  margin-top:5px;
  padding: 0px;
  margin-bottom: 5vh;
  font-size: 20px;
}

.ant-layout-header{
  height: 0vh;
}


}

.address{
  margin-bottom: 0px;
}

.profile_page_card{
  margin-left: 0vh;
  margin-top: -8vh;
}

